.pac-container {
	z-index: 1;
	border-radius: 15px;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Nunito', sans-serif;
	/* width: 50vw !important; */
	box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.3);
}

.pac-logo::after {
	background-image: none;
	height: 0px;
}

.mapboxgl-control-container {
	display: none;
}

.meter-info {
	/* your custom styles here */
}

.meter-info.hover {
	/* apply the hover animation effect only to the elements with the hover class */
	transition: transform 0.3s ease-in-out; /* specify the duration and easing of the transition */
	cursor: pointer;
}

.meter-info.hover:hover {
	/* change the transform property when the element is hovered */
	transform: scale(1.02); /* scale up the element by 5% */
}

/* .meter-times div {
	display: table;
}
.meter-times div span {
	display: table-cell;
}

.meter-times span:first-child:after {

	content: '';

	bottom: 0.5em; 
	margin-left: 0.5em; 
	width: 100%;
	border-bottom: 1px dashed #000;
} */
